.container {
    max-width: 960px;
}

.input-group {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 400px;
    overflow-y: auto;
}